.taskEditForm {
  width: 100%;
  display: flex;
  padding: 8px 12px;
  background-color: var(--secondary-color);
  min-height: 52px;
  max-width: 630px;
  border-left: 4px solid var(--grey-washed-out);
}

.taskInput {
  flex: 1;
  min-width: 0;
  font-size: var(--font-p);
  font-weight: 400;
  color: var(--grey-400);
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 4px;
}

.finishEditBtn {
  border: none;
  background-color: transparent;
  padding: 6px;
  color: var(--grey-400);
  font-size: var(--font-p);
}

.finishEditBtn:hover {
  background-color: var(--accent-green);
  color: var(--secondary-color);
}

.cancelEditBtn {
  align-self: flex-end;
  border: none;
}

.errorMessage {
  color: var(--accent-orange);
  font-size: var(--font-small);
  margin: 0 auto;
  width: 100%;
  max-width: 630px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}