.taskEditForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--secondary-color);
  list-style-type: none;
  max-width: 630px;
  min-height: 52px;
  border-left: 4px solid var(--grey-washed-out);
}

.taskInput {
  font-size: var(--font-p);
  font-weight: 400;
  color: var(--grey-400);
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 4px;
}

.finishEditBtn {
  border: none;
  background-color: transparent;
  padding: 6px;
  color: var(--grey-400);
  font-size: var(--font-p);
}

.finishEditBtn:hover {
  background-color: var(--accent-green);
  color: var(--secondary-color);
}