.form {
  max-width: 630px;
  width: 100%;
  margin: 0 auto;
}

.input {
  padding: 0 12px;
  width: 100%;
  height: 32px;
  border: none;
  border-bottom: inset 2px #000f08;
  background-color: #ede8d0;
}

.input::placeholder {
  color: var(--font-secondary);
}
