.form {
  max-width: 630px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.input {
  padding: 0 12px;
  width: 100%;
  height: 32px;
  border: none;
  border-bottom: inset 2px var(--font-primary);
  font-size: var(--font-p);
  background-color: #ede8d0;
}

.error {
  border-bottom: inset 2px var(--accent-orange);
}

.input::placeholder {
  color: var(--font-secondary);
}

.input:focus-within {
  outline: none;
}

.form::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: var(--grey-washed-out);
  transition: width 0.2s ease;
}

.form:focus-within::after {
  width: 100%;
}

.errorMessage {
  color: var(--accent-orange);
  font-size: var(--font-small);
  margin: 0 auto;
  width: 100%;
  max-width: 630px;
}
