.form {
  max-width: 630px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.input {
  padding: 0 12px;
  width: 100%;
  height: 38px;
  border: none;
  border-bottom: inset 1px var(--grey-500);
  font-size: var(--font-p);
  background-color: var(--secondary-color);
  transition: all ease 100ms;
}

.error {
  border-bottom: inset 2px var(--accent-orange);
}

.input::placeholder {
  color: var(--grey-200);
}

.input:focus-within {
  outline: none;
}

.form::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background: var(--grey-100);
  transition: width 0.2s ease;
}

.form:focus-within::after {
  width: 100%;
}

.errorMessage {
  color: var(--accent-orange);
  font-size: var(--font-small);
  margin: 0 auto;
  width: 100%;
  max-width: 630px;
}
