.form {
  width: 100%;
}

.input {
  padding: 0 12px;
  width: inherit;
  height: 32px;
  border: none;
  border-bottom: inset 2px #000f08;
  background-color: #ede8d0;
}

.input::placeholder {
  color: var(--font-secondary);
}
