.logoContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoImg {
  width: 180px;
  height: 180px;
}

.logoImg img {
  object-fit: contain;
}

.logoText {
  font-size: var(--font-h3);
  font-weight: 500;
  color: var(--grey-500);
}
