.isPending {
  --accent: #5BC0EB;
}

.isDone {
  --accent: #73A17D;
}

.task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--secondary-color);
  list-style-type: none;
  border-left: 4px solid var(--accent, transparent);
}

.taskName {
  font-size: var(--font-p);
  font-weight: 400;
  color: var(--font-tertiary);
}

.button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: transparent;
  border: 1.72px solid var(--accent, var(--font-tertiary));
  cursor: pointer;
}