.isPending {
  --accent: #5BC0EB;
}

.isDone {
  --accent: #73A17D;
  text-decoration: line-through;
  opacity: 0.5;
}

.isDone:hover {
  opacity: 1;
}

.task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--secondary-color);
  list-style-type: none;
  border-left: 4px solid var(--accent, transparent);
  max-width: 630px;
}

.taskName {
  font-size: var(--font-p);
  font-weight: 400;
  color: var(--grey-400);
  word-break: break-word;
  overflow-wrap: break-word;
}

.button {
  border-radius: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 6px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.deleteButton {
  stroke: var(--accent-orange);
  color: var(--accent-orange);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.selected {
  box-shadow: inset 0px 0px 1px 1px var(--accent);
  border-radius: 2px;
}