.tasks {
  max-width: 630px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.noTasks {
  font-size: var(--font-small);
  font-weight: 400;
  color: var(--font-tertiary);
}