.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 30px;
  min-height: 100vh;
}

.tasksContainer {
  width: 100%;
  max-width: 630px;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tasksContainer h2 {
  font-size: var(--font-h6);
  color: var(--font-secondary);
  font-weight: 400;
  margin-bottom: 6px;
}
