:root {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #FAF8F1;
  --secondary-color: #FFFFFF;
  --accent-orange: #F0692B;
  --accent-green: #73A17D;
  --font-primary: #333333;
  --font-secondary: #343a40;
  --font-tertiary: #495057;
  --grey-washed-out: #CCCCCC;
  --grey-500: #212529;
  --grey-400: #343a40;
  --grey-300: #495057;
  --grey-200: #868e96;
  --grey-100: #adb5bd;

  --font-small: 0.833rem;
  --font-p: 1rem;
  --font-h6: 1.2rem;
  --font-h5: 1.44rem;
  --font-h4: 1.728rem;
  --font-h3: 2.074rem;
  --font-h2: 2.488rem;
  --font-h1: 2.986rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--primary-color);
}