.dialog {
  position: relative;
  top: 30vh;
  margin: 0 auto;
  border: none;
  padding: 20px 30px;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.dialogContent h2 {
  font-size: var(--font-h5);
  font-weight: 400;
  color: var(--grey-300);
}

menu {
  display: flex;
  gap: 4px;
}

button {
  padding: 6px 8px;
  border-radius: 2px;
  font-weight: 500;
  font-size: var(--font-p);
}

button:hover {
  box-shadow: inset 0px 0px 10px 10px #00000020;
}

.delete {
  background-color: var(--accent-orange);
  color: #FFFF;
  border: none;
}

.cancel {
  background-color: transparent;
  border: none;
}
